{% extends folder + "/jury-service/index.html" %}

{% set guideTitle = "Ask to change the date or be excused" %}

{% block guide %}

      <p>If you cannot do jury service on the dates in your summons letter, you can ask to change the date or be excused.</p>

<h2 id="ask-to-change-the-date-of-your-jury-service" class="govuk-heading-m" >Ask to change the date of your jury service</h2>

<p>You might be able to change the date of your jury service to another date within the next 12 months. You’ll need a good reason, for example:</p>

<ul class="govuk-list govuk-list--bullet">
<li>you’re an <a href="/guidance/coronavirus-covid-19-getting-tested">essential worker</a>
</li>
<li>you’re having an operation</li>
<li>you’re sitting an exam</li>
<li>your employer will not give you time off work</li>
<li>you have a holiday booked</li>
</ul>

<p>You can only ask to change the date once.</p>

<p>To change the date, <a href="respond-to-the-summons">reply to your jury summons</a> giving your reason. When you reply you can suggest 3 possible dates in the next 12 months that work for you.</p>

<h2 id="ask-to-be-excused-from-jury-service"  class="govuk-heading-m">Ask to be excused from jury service</h2>

<p>If it’s not possible for you to do jury service in the next 12 months, you can ask to be excused. You’ll only be allowed to do this in exceptional circumstances, for example:</p>

<ul class="govuk-list govuk-list--bullet">
<li>you have a serious illness or disability that prevents you from doing jury service</li>
<li>you’re a full time carer of someone with an illness or disability</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>If you cannot do jury service because of coronavirus (COVID-19), you should ask to change the date.</p>
</div>

<p>You can also ask to be excused from jury service if you’ve done it in the last 2 years.</p>

<p>If you do not do jury service this time, you could still receive a summons in the future.</p>

<p>To ask to be excused, <a href="/jury-service/respond-to-the-summons">reply to your jury summons</a> giving your reason. You might need to give proof, for example if you’re ill you might be asked for a letter from your doctor.</p>

<p>If your request is turned down, you can still ask to change the date of your jury service.</p>

<h2 id="if-you-disagree-with-the-decision"  class="govuk-heading-m">If you disagree with the decision</h2>

<p>You can appeal if your request to change the date of your jury service or be excused is refused. Write to the Jury Central Summoning Bureau, including:</p>

<ul class="govuk-list govuk-list--bullet">
<li>why you disagree with the decision</li>
<li>your juror number (this is on your summons letter)</li>
<li>your name and address</li>
<li>your date of birth</li>
<li>the name and address of the court you’ve been summoned to</li>
<li>the dates of your jury service</li>
</ul>

<div class="contact">
<p>Head of the Jury Central Summoning Bureau  <br>
HM Courts and Tribunals Service<br>
Jury Central Summoning Bureau<br>
Phoenix House<br>
Bradford<br>
BD3 7BH</p>

<p><a href="mailto:jurysummoning@justice.gov.uk">jurysummoning@justice.gov.uk</a></p>
</div>

<h2 id="get-help" class="govuk-heading-m">Get help</h2>

<p>Contact the Jury Central Summoning Bureau if you have questions about jury service.</p>

<div class="contact">
<p>Jury Central Summoning Bureau    <br>
<a href="mailto:jurysummoning@justice.gov.uk">jurysummoning@justice.gov.uk</a> <br>
Telephone: 0300 456 1024 <br>
Welsh language telephone: 0300 303 5173 <br>
Monday to Thursday 9am to 5pm <br>
Friday 9am to 3pm <br>
<a href="/call-charges">Find out about call charges</a></p>
</div>
{% endblock %}
