{% set pageNumber = 8 %}
{% extends folder + "/jury-service/index.html" %}

{% set guideTitle = "Discussing the trial" %}

{% block guide %}


        <p>Do not discuss the trial with anyone until it’s finished, except with other jury members in the deliberation room.</p>

<p>After the trial you must not talk about what happened in the deliberation room, even with family members. You can talk about what happened in the courtroom.</p>

<div role="note" aria-label="Warning" class="application-notice help-notice">
<p>Do not post comments about the trial on social media websites like Facebook or Twitter - even after the trial’s finished. This is contempt of court and you can be fined or sent to prison.</p>
</div>

<h2 id="if-anyone-approaches-you-about-the-trial" class="govuk-heading-m">If anyone approaches you about the trial</h2>

<p>Tell a court officer if you’re approached about the trial. If you’re approached outside court, tell a police officer.</p>

<h2 id="if-you-find-the-trial-distressing" class="govuk-heading-m">If you find the trial distressing</h2>

<p>You may be upset by the trial and want to speak to someone privately. Speak to court staff - they’ll give you advice.</p>

<p>For emotional support speak to your GP to find out what support is available. You can also contact the <a rel="external" href="#">Samaritans</a> - although they cannot give advice.</p>



{% endblock %}
