{% set pageNumber = 9 %}
{% extends folder + "/jury-service/index.html" %}

{% set guideTitle = "How to claim expenses" %}

{% block guide %}


    <p>Make your claim for expenses at the end of your jury service - and no more than 12 months after your jury service started.</p>

<p>You’ll usually be paid 7 to 10 working days after submitting your claim form.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>The court may be able to pay your expenses during the trial if it’s likely to last a long time or if you’re facing financial hardship. Ask jury staff for more information.</p>
</div>

<h2 id="food-drink-and-travel-expenses" class="govuk-heading-m">Food, drink and travel expenses</h2>

<p>Fill in the claim form you received at the start of jury service. Return it to the court with the relevant receipts.</p>

<h2 id="loss-of-earnings" class="govuk-heading-m">Loss of earnings</h2>

<p>What you need to do depends on whether you are employed or self-employed.</p>

<h3 id="if-youre-an-employee" class="govuk-heading-m">If you’re an employee</h3>

<p>Your employer needs to <a href="/government/publications/claim-a-loss-of-earnings-or-benefit-during-jury-service">fill in a loss of earnings form</a> if they’ve told you they are not going to pay you during jury service. Bring it to court on your first day of jury service.</p>

<h3 id="if-youre-self-employed" class="govuk-heading-m">If you’re self-employed</h3>

<p><a href="/government/publications/form-certificate-of-loss-of-earnings-for-self-employed-or-company-directors">Fill in a self-employed loss of earnings form</a>. You’ll need to include evidence of lost earnings, such as your most recent tax return.</p>

<h2 id="care-and-childcare-expenses" class="govuk-heading-m">Care and childcare expenses</h2>

<p>You and the carer need to <a href="/government/publications/form-jurors-childcare-vulnerable-adultelderly-care-provision-expenses-claim">fill in the care expenses form</a> to claim for costs outside of your usual care arrangements.</p>

<p>If you’re using a registered childminder, they need to write their Ofsted number on the form. If a family member or friend is looking after your children, they must write a letter saying how many hours they’ve cared for your child.</p>

<p>Bring your child’s birth certificate or passport to court during your service or attach a copy to the claim form.</p>

<p>Return the form to the court with evidence of the cost of care, for example invoices or receipts.</p>

<h2 id="questions-about-expenses" class="govuk-heading-m">Questions about expenses</h2>

<p><a href="/find-court-tribunal">Contact the court</a> where you did jury service if you have questions about expenses.</p>



{% endblock %}
