{% extends "layout.html" %}
{% set serviceName = "" %}
{% if not guideTitle %} {% set guideTitle = "How jury service works" %}{% endif %}
{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}



  {% set pageArray = [
    { title: "How jury service works", url: "index" },
    { title: "What you can claim if you’re an employee", url: "what-you-can-claim-if-youre-an-employee"},
    { title: "What you can claim if you’re self-employed", url: "what-you-can-claim-if-youre-self-employed"},
    { title: "What you can claim if you're not working", url: "what-you-can-claim-if-youre-not-working"},
    { title: "Ask to change the date or be excused", url: "delaying-or-being-excused-from-jury-service"},
    { title: "Respond to the summons", url: "respond-to-the-summons"},
    { title: "Going to court as a juror", url: "what-to-take-to-court"},
    { title: "Discussing the trial", url: "discussing-the-trial"},
    { title: "bar", url: ""}
  ]
%}

{% endblock %}

{% block main %}


<!---
  <div id="global-bar" class="global-bar dont-print" data-module="global-bar" data-global-bar-permanent="true" data-nosnippet="">
      <div class="global-bar-message govuk-width-container">


          <div class="global-bar-covid-wrapper">

              <div class="gem-c-action-link gem-c-action-link--light-text gem-c-action-link--simple-light gem-c-action-link--with-subtext govuk-!-margin-bottom-0">

        <span class="gem-c-action-link__contents-wrapper">      <span class="gem-c-action-link__link-wrapper">

            <a class="govuk-link gem-c-action-link__link js-call-to-action" href="/coronavirus">
                        Coronavirus (COVID-19)


  </a>      </span>

          <span class="gem-c-action-link__subtext-wrapper">
              <span class="gem-c-action-link__subtext">Rules, guidance and support</span>
          </span>
  </span>
    </div>



          </div>
      </div>

    </div>
-->
    <div class="govuk-width-container {{ containerClasses }}  " >
      {% block beforeContent %}



      <!-- we're being a bit hacky in showing one-time alerts - we might be able to do this with javascript? -->
            {% if data['success']  %}
<br><br>
            {% set html %}
              <h3 class="govuk-notification-banner__heading">
      {% if data['success'] == "removed" %}
      You’ve removed this from your saved pages
      {% else %}
                You’ve added this to your saved pages
      {% endif %}

              </h3>
              <p class="govuk-body"><a class="govuk-notification-banner__link" href="/{{folder}}/account/index?success=">
                Go to your account to see your saved pages</a></p>
            {% endset %}

            {{ govukNotificationBanner({
              html: html,
              type: 'success'
            }) }}

            {% endif %}

      {% endblock %}
      <main class="govuk-main-wrapper {{ mainClasses }} guide" style="padding-top: 0" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        {% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "#"
        },
        {
          text: "Crime, justice and the law",
          href: "#"
        },
        {
          text: "Courts, sentencing and tribunals",
          href: "#"
        }
      ]
    }) }}

    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">




  <h1 class="gem-c-title__text govuk-heading-xl">
    Jury service
  </h1>
</div>

      <a class="gem-c-skip-link govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>

      <aside class="part-navigation-container" role="complementary">
          <nav class="gem-c-contents-list " aria-label="Pages in this guide" role="navigation" data-module="gem-track-click">
    <h2 class="gem-c-contents-list__title">
      Contents
</h2>
    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
          {% if not (guideTitle == "How jury service works") %}
          <a class="gem-c-contents-list__link govuk-link "  href="index?success=">{% endif %}
          How jury service works
          {% if not (guideTitle == "How jury service works") %}</a>{% endif %}

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
  {% if not (guideTitle == "What you can claim if you’re an employee") %}
          <a class="gem-c-contents-list__link govuk-link "  href="what-you-can-claim-if-youre-an-employee?success=">{% endif %}
            What you can claim if you’re an employee
  {% if not (guideTitle == "What you can claim if you’re an employee") %}</a>{% endif %}

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
    {% if not (guideTitle == "What you can claim if you’re self-employed") %}<a class="gem-c-contents-list__link govuk-link " href="what-you-can-claim-if-youre-self-employed?success=">{% endif %}
            What you can claim if you’re self-employed

{% if not (guideTitle == "What you can claim if you’re self-employed") %}</a>{% endif %}
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">

            {% if not (guideTitle == "What you can claim if you're not working") %}
          <a class="gem-c-contents-list__link govuk-link " href="what-you-can-claim-if-youre-not-working?success=">{% endif %}
            What you can claim if you're not working
          {% if not (guideTitle == "What you can claim if you're not working") %}</a>{% endif %}

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          {% if not (guideTitle == "Ask to change the date or be excused") %}
          <a class="gem-c-contents-list__link govuk-link " href="delaying-or-being-excused-from-jury-service?success=">{% endif %}
            Ask to change the date or be excused
          {% if not (guideTitle == "Ask to change the date or be excused") %}</a>{% endif %}

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          {% if not (guideTitle == "Respond to the summons") %}<a class="gem-c-contents-list__link govuk-link "  href="respond-to-the-summons?success=">{% endif %}
            Respond to the summons
          {% if not (guideTitle == "Respond to the summons") %}</a>{% endif %}

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          {% if not (guideTitle == "Going to court as a juror") %}
          <a class="gem-c-contents-list__link govuk-link "  href="what-to-take-to-court?success=">  {% endif %}
            Going to court as a juror
            {% if not (guideTitle == "Going to court as a juror") %}</a>
            {% endif %}

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          {% if not (guideTitle == "Discussing the trial") %}
          <a class="gem-c-contents-list__link govuk-link "  href="discussing-the-trial?success=">{% endif %}
            Discussing the trial
            {% if not (guideTitle == "Discussing the trial") %}</a>
            {% endif %}

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          {% if not (guideTitle == "How to claim expenses") %}
          <a class="gem-c-contents-list__link govuk-link "  href="how-to-claim-expenses?success=">{% endif %}
            How to claim expenses
            {% if not (guideTitle == "How to claim expenses") %}</a>
            {% endif %}

        </li>
    </ol>
</nav>
      </aside>
  </div>

  <div class="govuk-grid-column-two-thirds" id="guide-contents">



        <h1 class="part-title govuk-heading-l">
          {{ guideTitle | default("How jury service works") }}
        </h1>


<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
  {% block guide %}
        <p>If you get a jury summons in the post, you must respond within 7 days and confirm if you can attend.</p>

<p>Your name was chosen randomly from the electoral register.</p>

<p>You’ll be part of a jury of 12 people to decide the outcome of a criminal trial.</p>

<p>You can watch a <a rel="external" href="https://www.youtube.com/watch?v=yQGekF-72xQ&amp;t=2s">video about jury service</a>. There’s also a <a rel="external" href="https://www.youtube.com/watch?v=mtU60t6l7C8">Welsh language version of the video</a>.</p>

<h2 id="jury-service-and-coronavirus-covid-19" class="govuk-heading-m">Jury service and coronavirus (COVID-19)</h2>

<p>If you’ve received a jury summons, you will need to attend. Jury staff will contact you to confirm the days and times you need to attend.</p>

<p>Do not go to court if you have COVID-19 symptoms or if you’re self-isolating or in quarantine. Tell the court if you cannot attend.</p>

<p>You can read more about <a href="/guidance/coronavirus-covid-19-courts-and-tribunals-planning-and-preparation">how coronavirus is affecting jury service</a> including the social distancing measures that are in place.</p>

<h2 id="how-long-jury-service-lasts" class="govuk-heading-m">How long jury service lasts</h2>

<p>Jury service usually lasts up to 10 working days.</p>

<p>If the trial is likely to last longer than 10 days, jury staff will let you know. If the trial is shorter than 10 days, you may be asked to be a juror on other trials.</p>

<p>You’ll usually need to be at court from 10am to 5:30pm Monday to Friday, but times can vary.</p>

<p>You’ll need to arrive at court earlier on your first day. Check your summons letter for the exact time.</p>

<h2 id="what-you-can-claim" class="govuk-heading-m">What you can claim</h2>
<p>You will not be paid for doing jury service, but you can claim some money back if you lose earnings. You can also claim some expenses, for example travel.</p>

<p>Find out what you can claim:</p>

<ul class="govuk-list govuk-list--bullet">
  <li > <a href="what-you-can-claim-if-youre-an-employee">if you’re an employee</a></li>
  <li><a href="what-you-can-claim-if-youre-self-employed">if you’re self-employed</a></li>
  <li><a href="/jury-service/what-you-can-claim-if-youre-not-working">if you’re not working</a></li>
</ul>


{% endblock %}
</div>

<nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
<ul class="gem-c-pagination__list" data-module="gem-track-click">
  {% if not (guideTitle == "How jury service works") %}
<li class="gem-c-pagination__item gem-c-pagination__item--previous">
  <a href="jury-service" class="govuk-link gem-c-pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/jury-service" data-track-dimension="previous" data-track-dimension-index="29">
    <span class="gem-c-pagination__link-title">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="gem-c-pagination__link-text">
        Previous
      </span>
    </span>
      <span class="gem-c-pagination__link-divider visually-hidden">:</span>
      <span class="gem-c-pagination__link-label">How jury service works</span>
  </a>
</li>{% endif %}
  {% if not (guideTitle == "How to claim expenses") %}
<li class="gem-c-pagination__item gem-c-pagination__item--next">
  <a href="what-you-can-claim-if-youre-self-employed" class="govuk-link gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/jury-service/what-you-can-claim-if-youre-self-employed" data-track-dimension="next" data-track-dimension-index="29">
    <span class="gem-c-pagination__link-title">
      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
        <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
      <span class="gem-c-pagination__link-text">
        Next
      </span>
    </span>
      <span class="gem-c-pagination__link-divider visually-hidden">:</span>
      <span class="gem-c-pagination__link-label">What you can claim if you’re self-employed</span>
  </a>
</li>{% endif %}
</ul>
</nav>







<div class="gem-c-print-link gem-c-print-link--show-without-js govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <a class="govuk-link gem-c-print-link__link govuk-link--no-visited-state" rel="alternate" data-module="button" role="button" href="/jury-service/print">Print entire guide</a>
</div>
  </div>



<div class="govuk-grid-column-one-third">

<div class="gem-c-contextual-sidebar">


  <!-- ACCOUNTS PANEL -->
  <div class="accounts-panel">
      <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">
  {% if data['saved'] %}
  You’ve saved this page
  {% else %}
        Save this page so you can come back to it later
  {% endif %}
      </h2>

      <a href="{% if data['saved']%}{{current}}?success=removed&saved={% elseif data['signed-in'] %}{{current}}?success=added&saved=true{% else %}/current/save-1{%endif %}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        {% if data['saved']%}Remove from{% else %}Add to{% endif %} your saved pages
      </a>



      <p class="govuk-body govuk-!-margin-0">
      {% if data['signed-in'] %}
    <a href="/{{folder}}/account/index?">Go to your account to see your saved pages</a>
      {% else %}
        <a href="/{{folder}}/sign-in" class="govuk-link">Sign in</a> to see your saved pages
      {% endif %}
      </p>
      </div>
  <!-- END ACCOUNT -->


  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-375d1aac" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-375d1aac" data-module="gem-toggle">


  <ul class="gem-c-related-navigation__link-list govuk-list" data-module="gem-track-click">


        <li class="gem-c-related-navigation__link govuk-link govuk-body-s"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/courts" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Criminal courts&quot;}" href="/courts">Criminal courts</a></li>
        <li class="gem-c-related-navigation__link govuk-link govuk-body-s"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/giving-staff-time-off-jury-service" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Giving staff time off for jury service&quot;}" href="/giving-staff-time-off-jury-service">Giving staff time off for jury service</a></li>

  </ul>
</nav>

  </div>



</div>

</div>

{% endblock %}
</main>
</div>
{% endblock %}
