{% set pageNumber = 6 %}
{% extends folder + "/jury-service/_base.njk" %}

{% set guideTitle = "Respond to the summons" %}

{% block guide %}

        <p>You must respond to your jury summons within 7 days of getting it.</p>

<p>You can either:</p>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="#">reply to the jury summons online</a></li>
  <li>complete and return the form by post</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You can be fined up to £1,000 if you do not return the form or turn up for your jury service.</p>
</div>

<h2 id="after-you-respond" class="govuk-heading-m">After you respond</h2>

<p>The Jury Central Summoning Bureau will send you a letter to confirm details of your jury service, including when and where it will take place.</p>

<p>If you asked to change the date or to be excused, the letter will explain if your request was accepted.</p>

<p>You’ll need to bring your summons or confirmation letter to court with you on your first day of jury service.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Due to coronavirus (COVID-19), you may be asked to go to a different location than the one you were summoned to. If the court needs to change the venue, they will contact you at least one week before your jury service is due to start. <a href="#">Check which courts offer additional locations</a>.</p>
</div>

<h2 id="get-help" class="govuk-heading-m">Get help</h2>

<p>Contact the Jury Central Summoning Bureau if you have questions about jury service or about a decision.</p>

<p>The Jury Central Summoning Bureau may be able to change the location of your jury service if you’ve been summoned to a court far from where you live. For example, if you’ve recently moved house or if you’re at university and you’ve been summoned to a court near your family home.</p>

<div class="contact">
<p>Jury Central Summoning Bureau  <br>
<a href="#">jurysummoning@justice.gov.uk</a> <br>
Telephone: 0300 456 1024 <br>
Welsh language telephone: 0300 303 5173 <br>
Monday to Thursday 9am to 5pm <br>
Friday 9am to 3pm <br>
<a href="#">Find out about call charges</a></p>
</div>

<p><a href="#">Contact the court</a> if you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>need directions</li>
  <li>have a question about your expenses claim</li>
</ul>




{% endblock %}
