{% extends folder + "/jury-service/index.html" %}

{% set guideTitle = "Going to court as a juror" %}

{% block guide %}


        <p>On your first day, you should bring:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your jury summons form or your jury service confirmation letter</li>
  <li>some identification, such as your passport, photo driving licence or Home Office documents showing your UK immigration status</li>
</ul>

<p>If you do not have identification, you can bring any 2 documents from the following:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your birth certificate</li>
  <li>your credit card with 3 statements and proof of signature</li>
  <li>your cheque book and bank card with 3 statements and proof of signature</li>
  <li>3 utility bills showing your name and address</li>
</ul>

<h2 id="laptops-tablets-and-mobile-phones" class="govuk-heading-m">Laptops, tablets and mobile phones</h2>

<p>You can bring your mobile phone, tablet or laptop into the court building and use it in the jury assembly area.</p>

<p>You cannot take your phone, laptop or tablet into the deliberation room. All courts have lockers or somewhere you can safely store your personal items.</p>

<p>There is free wifi in most courts.</p>

<h2 id="what-to-wear" class="govuk-heading-m">What to wear</h2>

<p>There is no strict dress code and you can wear clothes you’re comfortable in, such as jeans and a t-shirt.</p>

<p>Very casual clothing such as shorts or clothing with inappropriate logos or slogans are not allowed.</p>

<h2 id="what-will-happen-when-you-arrive-at-court" class="govuk-heading-m">What will happen when you arrive at court</h2>

<p>Allow extra time to <a href="/entering-court-or-tribunal-building">go through security at court</a>.</p>

<p>Court staff will show you where the jury assembly area is and the jury manager will:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>tell you about jury service</li>
  <li>explain your responsibilities</li>
  <li>tell you what expenses you can claim and how to claim them</li>
</ul>

<p>There are <a href="/guidance/coronavirus-covid-19-courts-and-tribunals-planning-and-preparation">extra security and hygiene measures in place because of coronavirus (COVID-19)</a>.</p>

<h2 id="if-you-have-a-disability" class="govuk-heading-m">If you have a disability</h2>

<p><a href="/find-court-tribunal">Check what facilities are available</a> in the court you’re going to.</p>

<p>Contact the Jury Central Summoning Bureau if you have questions about the facilities or to arrange a visit to the court.</p>
<div class="contact">
<p>Jury Central Summoning Bureau   <br>
<a href="mailto:jurysummoning@justice.gov.uk">jurysummoning@justice.gov.uk</a><br>
Telephone: 0300 456 1024 <br>
Welsh language telephone: 0300 303 5173 <br>
Monday to Thursday 9am to 5pm<br>
Friday 9am to 3pm  <br>
<a href="/call-charges">Find out about call charges</a></p>
</div>


{% endblock %}
