{% extends folder + "/jury-service/index.html" %}

{% set guideTitle = "What you can claim if you're not working" %}

{% block guide %}

  <p>You will not be paid for doing jury service, but you can claim some money back if your earnings are affected. For each day you’re at court, you can usually claim:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>up to £64.95 towards your loss of earnings, and any care or childcare costs outside of your usual arrangements</li>
  <li>£5.71 for food and drink</li>
  <li>the cost of travel to and from court</li>
</ul>

<p>You’ll be told <a href="how-to-claim-expenses">how to claim expenses</a> after your jury service has ended.</p>

<p>You can <a href="delaying-or-being-excused-from-jury-service">ask to delay your jury service</a> if you cannot do jury service on the dates in your summons letter.</p>

<h2 id="if-you-get-benefits-or-financial-support" class="govuk-heading-m">If you get benefits or financial support</h2>

<p>Show your jury summons to your benefit office or work coach as soon as you get it.</p>

<p>You’ll continue to get financial support and benefits (such as Universal Credit) for the first 8 weeks. After that, the court will give you a loss of earnings form to give to your benefit office or work coach.</p>

<h2 id="what-you-can-claim" class="govuk-heading-m">What you can claim</h2>

<p>There’s a limit to how much you can claim for each day you’re at court.</p>

<h3 id="loss-of-earnings-childcare-and-other-care-costs" class="govuk-heading-m">Loss of earnings, childcare and other care costs</h3>

<p>How much you can claim to cover loss of earnings and care costs depends on the length of your jury service and how many hours you spend at court each day.</p>

<p>For the first 10 days of jury service, you can claim up to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>£64.95 a day if you spend more than 4 hours at court</li>
  <li>£32.47 a day if you spend 4 hours or less at court</li>
</ul>

<p>If your jury service lasts longer than 10 working days, the amount you can claim increases. You’ll be able to claim up to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>£129.91 a day if you spend more than 4 hours at court</li>
  <li>£64.95 a day if you spend 4 hours or less at court</li>
</ul>

<h3 id="travel-and-parking-costs" class="govuk-heading-m">Travel and parking costs</h3>

<p>How much you can claim depends on how you travel to court.</p>

<table>
  <thead>
    <tr>
      <th scope="col">How you travel to court</th>
      <th scope="col">The court will pay</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bus or underground</td>
      <td>Cost of the ticket</td>
    </tr>
    <tr>
      <td>Train</td>
      <td>Cost of the ticket (standard class return fare)</td>
    </tr>
    <tr>
      <td>Bicycle</td>
      <td>9.6p per mile</td>
    </tr>
    <tr>
      <td>Motorcycle</td>
      <td>31.4p per mile</td>
    </tr>
    <tr>
      <td>Car</td>
      <td>31.4p per mile - check if the court will pay for parking</td>
    </tr>
    <tr>
      <td>Car - for one other juror as a passenger</td>
      <td>4.2p per mile</td>
    </tr>
    <tr>
      <td>Car - for each additional passenger</td>
      <td>3.2p per mile</td>
    </tr>
    <tr>
      <td>Taxi</td>
      <td>The fare - ask the court for permission before using a taxi</td>
    </tr>
  </tbody>
</table>

<h3 id="food-and-drink" class="govuk-list govuk-list--bullet">Food and drink</h3>

<p>How much you can claim depends on how many hours you spend in court each day.</p>

<table>
  <thead>
    <tr>
      <th scope="col">Time spent each day</th>
      <th scope="col">The court will pay up to</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Up to and including 10 hours a day</td>
      <td>£5.71 per day</td>
    </tr>
    <tr>
      <td>Over 10 hours a day</td>
      <td>£12.17 per day</td>
    </tr>
  </tbody>
</table>

<h2 id="estimate-your-expenses" class="govuk-heading-m">Estimate your expenses</h2>

<p>You can <a rel="external" href="#">use a calculator to check what you can claim</a>.</p>



{% endblock %}
