{% set serviceName = "GOV.UK Account" %}
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Account - GOV.UK
{% endblock %}

{% block header %}

{% if not hideSignin %}
{{ govukHeader({
  productName: "Accounts",
  homepageUrl: "/" + folder + "/index?success=",
  navigation: [
    {
      href: "#1",
      text: "Account",
      active: true
    },
    {
      href: "/" + folder + "/index?success=&signed-in=",
      text: "Sign out"
    }]
}) }}

{% else %}
{{ govukHeader({
homepageUrl: "/" + folder + "/index?success=",
  productName: "Accounts"
}) }}

{% endif %}

{% endblock %}




{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">


{% if not hideSignin %}
      <div class="govuk-grid-column-one-third">

      <nav aria-label="Account management">
        <ul class="accounts-menu">
          <li class="accounts-menu__item accounts-menu__item--current">
            <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" aria-current="page" href="/{{folder}}/{{subfolder}}/index?success=">Your account</a>
          </li>
          <li class="accounts-menu__item ">
            <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="#">Manage your account</a>
          </li>
          <li class="accounts-menu__item ">
            <a class="accounts-menu__link govuk-link govuk-link--no-visited-state" href="#">Security and privacy</a>
          </li>
        </ul>
      </nav>


              </div>
{% endif %}

    <div class="govuk-grid-column-two-thirds">
    {% if back %}
      <a class="govuk-back-link" onclick="history.back();" >Back</a>
    {% endif %}

{% block account %}

{% endblock %}


    </div>



  </div>

  {% if not hideFeedback %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <div class="feedback-footer">

    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">We’re still building GOV.UK accounts</h2>


    <p class="govuk-body ">
      <a href="#">Read our roadmap</a> to find out about the features we’re planning to add to your account.
    </p>

      <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">Help improve GOV.UK accounts</h2>


      <p class="govuk-body govuk-!-margin-bottom-0">
        We’re trialling GOV.UK accounts.
        <a href="#" class="govuk-link">Give feedback</a>
        on your experience so we can make them better.
      </p>
    </div>
    </div>
  </div>


  {% endif %}


{% endblock %}
