{% extends "layout.html" %}
{% set serviceName = "" %}
{% if not guideTitle %} {% set guideTitle = "How jury service works" %}{% endif %}
{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: "",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}



{% endblock %}

{% block main %}


    <div class="govuk-width-container {{ containerClasses }}  " >
      {% block beforeContent %}{% endblock %}
      <main class="govuk-main-wrapper {{ mainClasses }} travel-advice" style="padding-top: 0" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        {% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "#"
        },
        {
          text: "Passports, travel and living abroad",
          href: "#"
        },
        {
          text: "Travel abroad",
          href: "#"
        },
        {
          text: "Foreign travel advice",
          href: "#"
        }
      ]
    }) }}

    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">



<!-- we're being a bit hacky in showing one-time alerts - we might be able to do this with javascript? -->
      {% if data['success']  %}

      {% set html %}
        <h3 class="govuk-notification-banner__heading">
{% if data['success'] == "removed" %}
You’ve removed this from your saved pages
{% else %}
          You’ve added this to your saved pages
{% endif %}

        </h3>
        <p class="govuk-body"><a class="govuk-notification-banner__link" href="/{{folder}}/account/index?success=">See your saved pages</a></p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}

      {% endif %}

      <span class="govuk-caption-xl">Foreign travel advice</span>
      <h1 class="govuk-heading-xl">France</h1>
      <div class="travel-advice-notice">
            <div class="travel-advice-notice__header">

      <div id="warning-text-e79fb3c4" class="gem-c-warning-text govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <h2 class="govuk-warning-text__text gem-c-warning-text__text--large">
                <span class="govuk-warning-text__assistive">Important</span>
          Coronavirus (COVID-19) travel

      </h2>
      </div>
            </div>
            <div class="travel-advice-notice__content">
              <p class="govuk-body">
                Follow current COVID-19 rules where you live: <a href="/guidance/covid-19-coronavirus-restrictions-what-you-can-and-cannot-do">England</a>, <a href="https://www.gov.scot/coronavirus-covid-19/">Scotland</a>, <a href="https://gov.wales/covid-19-alert-levels">Wales</a> and <a href="https://www.nidirect.gov.uk/articles/coronavirus-covid-19-regulations-guidance-what-restrictions-mean-you">Northern Ireland</a>.
              </p>
              <p class="govuk-body">
                To prevent new COVID variants from entering the UK, you should not travel to <a href="/guidance/red-amber-and-green-list-rules-for-entering-england">amber or red list countries</a>.
              </p>
              <p class="govuk-body">
                To understand the risks in a country follow <a href="/guidance/travel-advice-novel-coronavirus">FCDO Travel Advice</a>.
              </p>
              <p class="govuk-body">
                When you return, follow the rules to <a href="/uk-border-control">enter the UK from abroad</a> (except from Ireland).
              </p>
            </div>
          </div>


</div>

      <a class="gem-c-skip-link govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>

        <aside class="part-navigation-container" role="complementary">
    <nav role="navigation"  class="govuk-grid-row part-navigation" aria-label="Travel advice pages" data-module="gem-track-click">
        <nav class="gem-c-contents-list " aria-label="Contents" role="navigation" data-module="gem-track-click">
  <h2 class="gem-c-contents-list__title">
    Contents
</h2>
  <ol class="gem-c-contents-list__list">
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
        Summary

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/foreign-travel-advice/france/coronavirus" data-track-options="{&quot;dimension29&quot;:&quot;Coronavirus&quot;}" href="/foreign-travel-advice/france/coronavirus">Coronavirus</a>

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/france/safety-and-security" data-track-options="{&quot;dimension29&quot;:&quot;Safety and security&quot;}" href="/foreign-travel-advice/france/safety-and-security">Safety and security</a>

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/foreign-travel-advice/france/terrorism" data-track-options="{&quot;dimension29&quot;:&quot;Terrorism&quot;}" href="/foreign-travel-advice/france/terrorism">Terrorism</a>

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="/foreign-travel-advice/france/local-laws-and-customs" data-track-options="{&quot;dimension29&quot;:&quot;Local laws and customs&quot;}" href="/foreign-travel-advice/france/local-laws-and-customs">Local laws and customs</a>

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/foreign-travel-advice/france/entry-requirements" data-track-options="{&quot;dimension29&quot;:&quot;Entry requirements&quot;}" href="/foreign-travel-advice/france/entry-requirements">Entry requirements</a>

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="/foreign-travel-advice/france/health" data-track-options="{&quot;dimension29&quot;:&quot;Health&quot;}" href="/foreign-travel-advice/france/health">Health</a>

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="/foreign-travel-advice/france/natural-disasters" data-track-options="{&quot;dimension29&quot;:&quot;Natural disasters&quot;}" href="/foreign-travel-advice/france/natural-disasters">Natural disasters</a>

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="/foreign-travel-advice/france/money" data-track-options="{&quot;dimension29&quot;:&quot;Money&quot;}" href="/foreign-travel-advice/france/money">Money</a>

      </li>
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 10" data-track-label="/foreign-travel-advice/france/contact-fco-travel-advice-team" data-track-options="{&quot;dimension29&quot;:&quot;Travel advice help and support&quot;}" href="/foreign-travel-advice/france/contact-fco-travel-advice-team">Travel advice help and support</a>

      </li>
  </ol>
</nav>
    </nav>

      <section class="gem-c-subscription-links ">
    <h2 class="gem-c-subscription-links__hidden-header visuallyhidden">Subscriptions</h2>
  <ul class="gem-c-subscription-links__list">
      <li class="gem-c-subscription-links__list-item">
        <a class="govuk-link gem-c-subscription-links__item  gem-c-subscription-links__item--link" href="/foreign-travel-advice/france/email-signup">           <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15.75" class="gem-c-subscription-links__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M19.687 0H1.312C.589 0 0 .587 0 1.313v13.124c0 .726.588 1.313 1.313 1.313h18.374c.725 0 1.313-.587 1.313-1.313V1.313C21 .587 20.412 0 19.687 0zm-2.625 2.625L10.5 7.875l-6.563-5.25h13.126zm1.313 10.5H2.625V3.937L10.5 10.5l7.875-6.563v9.188z"></path></svg>
         Get email alerts
</a>
      </li>

      <li class="gem-c-subscription-links__list-item">

        <a class="govuk-link gem-c-subscription-links__item  gem-c-subscription-links__item--link" href="/foreign-travel-advice/france.atom">            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="gem-c-subscription-links__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M1.996 11A2 2 0 0 0 0 12.993c0 1.101.895 1.99 1.996 1.99 1.106 0 2-.889 2-1.99a2 2 0 0 0-2-1.993zM.002 5.097V7.97c1.872 0 3.632.733 4.958 2.059A6.984 6.984 0 0 1 7.015 15h2.888c0-5.461-4.443-9.903-9.9-9.903zM.006 0v2.876c6.676 0 12.11 5.44 12.11 12.124H15C15 6.731 8.273 0 .006 0z"></path></svg>
         Subscribe to feed
</a>
      </li>
  </ul>

</section>
  </aside>
  </div>

  <div class="govuk-grid-column-two-thirds" id="guide-contents">


<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
  {% block guide %}

      <h1 class="part-title">
        Summary
      </h1>


  <div class="gem-c-metadata" data-module="gem-toggle">
    <dl data-module="gem-track-click">
            <dt class="gem-c-metadata__term">Still current at:</dt>
            <dd class="gem-c-metadata__definition">
                27 May 2021

            </dd>
            <dt class="gem-c-metadata__term">Updated:</dt>
            <dd class="gem-c-metadata__definition">
                18 May 2021

            </dd>
            <dt class="gem-c-metadata__term">Latest update:</dt>
            <dd class="gem-c-metadata__definition">
                <p>Changes to domestic Covid-19 restrictions from 19 May and additional entry requirements for those travelling to France from Bahrain, Colombia, Costa Rica and Uruguay from 16 May. Update on ‘attestation d’acceuil’ requirements (See 'Summary', 'Coronavirus' and 'Entry requirements' pages).</p>

            </dd>
    </dl>
  </div>

<h3 class="govuk-heading-s" id="the-fcdo-advises-against-all-but-essential-travel-to-the-whole-of-france-based-on-the-current-assessment-of-covid-19-risks">The <abbr title="Foreign, Commonwealth &amp; Development Office">FCDO</abbr> advises against all but essential travel to the whole of France based on the current assessment of COVID-19 risks.</h3>

  <h3  class="govuk-heading-s"  id="check-separate-travel-advice-pages-for-overseas-territories-of-franceforeign-travel-advice">Check separate travel advice pages for <a href="/foreign-travel-advice">overseas territories of France</a>.</h3>

  <div class="call-to-action">
  <div role="note" aria-label="Warning" class="application-notice help-notice">
  <p>COVID-19 entry restrictions for France</p>
  </div>

  <p>Before you travel, <a href="https://www.gov.uk/foreign-travel-advice/france/entry-requirements">check the ‘Entry requirements’ section</a> for France’s current entry restrictions and requirements. These may change with little warning. Monitor this advice for the latest updates and stay in contact with your travel provider.</p>

  <div role="note" aria-label="Warning" class="application-notice help-notice">
  <p>Returning to the UK</p>
  </div>

  <p>France is on the <a href="https://www.gov.uk/guidance/red-amber-and-green-list-rules-for-entering-england#amber-list">amber&nbsp;list for entering England</a>. Check what you must do to <a href="https://www.gov.uk/uk-border-control">enter England, Scotland, Wales or Northern Ireland</a>.</p>
  </div>

  <p>Check our <a href="/guidance/travel-advice-novel-coronavirus">advice on foreign travel during the coronavirus (COVID-19) pandemic</a> and <a href="/foreign-travel-advice/france/email-signup">sign up for email alerts</a> for this travel advice.</p>

  <p>If you’re planning travel to France, find out what you need to know about coronavirus there in the <a href="/foreign-travel-advice/france/coronavirus">Coronavirus section</a>.</p>

  <p>The health situation in France remains severe. A national curfew is in place from 9pm to 6am, during which an attestation (self-certified document) is required to leave home. Attestations are available on the <a rel="external" href="https://www.interieur.gouv.fr/Actualites/L-actu-du-Ministere/Attestations-de-deplacement-couvre-feu">French Interior Ministry website</a> and through the ‘Tous anti-Covid’ digital app. There are no internal travel restrictions in France. From 19 May, non-essential shops, culture and outdoor hospitality are reopening. You can find information and guidance from the French government regarding the current outbreak of coronavirus disease COVID-19 in France on the  <a rel="external" href="https://www.gouvernement.fr/en/coronavirus-covid-19">French government’s COVID-19 pages</a>.</p>

  <p>The Department for Transport and the <abbr title="Foreign, Commonwealth &amp; Development Office">FCDO</abbr> have jointly published <a href="https://www.gov.uk/government/publications/covid-19-guidance-on-freight-transport/covid-19-advice-for-the-freight-transport-industry">separate guidance for the freight transport industry</a> during the coronavirus pandemic.</p>

  <p>During the COVID-19 pandemic, it is more important than ever to get travel insurance and check it provides sufficient cover. See the <abbr title="Foreign, Commonwealth &amp; Development Office">FCDO</abbr>’s <a href="/guidance/foreign-travel-insurance">guidance on foreign travel insurance</a>.</p>

  <p>For information about COVID-19 vaccines, see the <a href="https://www.gov.uk/foreign-travel-advice/france/coronavirus#covid-19-vaccines-if-you-live-in-france">Coronavirus page</a>.</p>

  <p>There are rules about taking food and drink into the EU.  See <a href="/foreign-travel-advice/france/local-laws-and-customs#taking-food-and-drink-into-the-eu">Taking food and drink into the EU</a> for further information.</p>

  <p>On 29 October the French Prime Minister increased France’s national security threat level to “urgent” following a terrorist incident in Nice. You should be vigilant at this time and follow the advice of local authorities.</p>

  <p>A number of demonstrations have been taking place across major cities in France.</p>

  <p>If demonstrations do turn violent, a heavy police/gendarmerie presence is to be expected. In all cases, you should avoid demonstrations wherever possible and follow the advice of the local authorities.</p>

  <p>Around 17 million British nationals visit France every year. Most visits are trouble-free. The most common problem reported is pickpocketing. See <a href="/foreign-travel-advice/france/safety-and-security#crime">Crime</a></p>

  <p>If you’re living in France, visit our <a href="/guidance/living-in-france">Living in France guide</a> in addition to this travel advice.</p>

  <p>Terrorists are very likely to try to carry out attacks in France. Due to ongoing threats to France by Islamist terrorist groups, and recent French military intervention against Daesh (formerly referred to as ISIL), the French government has warned the public to be especially vigilant and has reinforced its security measures. Check the French government’s advice about <a rel="external" href="http://www.gouvernement.fr/en/how-to-react-in-the-event-of-a-terrorist-attack">what to do if a terrorist attack occurs</a>. See <a href="/foreign-travel-advice/france/terrorism">Terrorism</a></p>

  <p>There remain some migrants around Calais, who may seek to enter the UK illegally. There have been instances of migrants seeking to slow down traffic on approach roads to ports, including by placing obstacles on the Calais Port approach road. If this happens you should keep moving where it’s safe to do so, or stop and call 112 if isn’t safe to proceed (keeping car doors locked).</p>

  <p>All vehicles, including motorbikes, driving in central Paris, Lyon and Grenoble now need to display a special ‘pollution sticker’. See <a href="/foreign-travel-advice/france/safety-and-security#road-travel">Road travel</a></p>

  <p>If you’re abroad and you need emergency help from the UK government, contact the <a href="/government/world/embassies">nearest British embassy, consulate or high commission</a>.</p>

  <p>The <a href="/government/collections/overseas-business-risk">Overseas Business Risk service</a> offers information and advice for British companies operating overseas on how to manage political, economic, and business security-related risks.</p>

  <p>The emergency phone number in France is 112. If you need to contact other emergency services, call 15 (medical), 17 (police) or 18 (fire).</p>



  </div>

      <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
    <ul class="gem-c-pagination__list" data-module="gem-track-click">
        <li class="gem-c-pagination__item gem-c-pagination__item--next">
          <a href="/foreign-travel-advice/france/coronavirus" class="govuk-link gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/foreign-travel-advice/france/coronavirus" data-track-dimension="next" data-track-dimension-index="29">
            <span class="gem-c-pagination__link-title">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              <span class="gem-c-pagination__link-text">
                Next
              </span>
            </span>
              <span class="gem-c-pagination__link-divider visually-hidden">:</span>
              <span class="gem-c-pagination__link-label">Coronavirus</span>
          </a>
        </li>
    </ul>
  </nav>




{% endblock %}


<div class="accounts-panel">
    <h2 class="gem-c-heading govuk-heading-m   govuk-!-margin-bottom-4">
{% if data['saved-travel'] %}
You’ve saved this page
{% else %}
      Save this page so you can come back to it later
{% endif %}
    </h2>

    <a href="{% if data['saved-travel']%}{{current}}?success=removed&saved={% elseif data['signed-in'] %}{{current}}?success=added&saved=true{% else %}/current/save-1{%endif %}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      {% if data['saved-travel']%}Remove from{% else %}Add to{% endif %} your saved pages
    </a>



    <p class="govuk-body govuk-!-margin-0">
    {% if data['signed-in'] %}
  <a href="/{{folder}}/account/index-future?saved=">See your saved pages</a>
    {% else %}
      <a href="/{{folder}}/sign-in" class="govuk-link">Sign in</a> to see your saved pages
    {% endif %}
    </p>
    </div>







<div class="gem-c-print-link gem-c-print-link--show-without-js govuk-!-margin-top-3 govuk-!-margin-bottom-3">
    <a class="govuk-link gem-c-print-link__link govuk-link--no-visited-state" rel="alternate" data-module="button" role="button" href="/jury-service/print">Print entire guide</a>
</div>
  </div>



<div class="govuk-grid-column-one-third">

<div class="gem-c-contextual-sidebar">


  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-375d1aac" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-375d1aac" data-module="gem-toggle">


  <ul class="gem-c-related-navigation__link-list govuk-list" data-module="gem-track-click">


        <li class="gem-c-related-navigation__link govuk-link govuk-body-s"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/courts" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Criminal courts&quot;}" href="/courts">Criminal courts</a></li>
        <li class="gem-c-related-navigation__link govuk-link govuk-body-s"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/giving-staff-time-off-jury-service" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Giving staff time off for jury service&quot;}" href="/giving-staff-time-off-jury-service">Giving staff time off for jury service</a></li>

  </ul>
</nav>

  </div>



</div>

</div>

{% endblock %}
</main>
</div>
{% endblock %}
