

{% extends "layout.html" %}

{% set serviceName = "" %}

{% block pageTitle %}
  GOV.UK Accounts prototype
{% endblock %}

{% block content %}





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You need a GOV.UK account to save a page
          </h1>


      <p>
        Create a GOV.UK account so you can save pages and come back to them later. </p>

        {{ govukInsetText({
          text: "This is separate from other government accounts (for example your personal tax account or Government Gateway)."
        }) }}


<p>
You’ll need an email address to create an account.</p>

{{ govukButton({
  text: "Create a GOV.UK account",
  href: "new-account/index"
}) }}




<p>If you already have an account, <a href="">sign in to add a page to your saved pages</a>.</p>
    </div>
  </div>

{% endblock %}
