{% set pageNumber = 1 %}
{% extends folder + "/jury-service/_base.njk" %}
{% set guideTitle = "How jury service works" %}

{% block guide %}
        <p>If you get a jury summons in the post, you must respond within 7 days and confirm if you can attend.</p>

<p>Your name was chosen randomly from the electoral register.</p>

<p>You’ll be part of a jury of 12 people to decide the outcome of a criminal trial.</p>

<p>You can watch a <a rel="external" href="#">video about jury service</a>. There’s also a <a rel="external" href="#">Welsh language version of the video</a>.</p>

<h2 id="jury-service-and-coronavirus-covid-19" class="govuk-heading-m">Jury service and coronavirus (COVID-19)</h2>

<p>If you’ve received a jury summons, you will need to attend. Jury staff will contact you to confirm the days and times you need to attend.</p>

<p>Do not go to court if you have COVID-19 symptoms or if you’re self-isolating or in quarantine. Tell the court if you cannot attend.</p>

<p>You can read more about <a href="#">how coronavirus is affecting jury service</a> including the social distancing measures that are in place.</p>

<h2 id="how-long-jury-service-lasts" class="govuk-heading-m">How long jury service lasts</h2>

<p>Jury service usually lasts up to 10 working days.</p>

<p>If the trial is likely to last longer than 10 days, jury staff will let you know. If the trial is shorter than 10 days, you may be asked to be a juror on other trials.</p>

<p>You’ll usually need to be at court from 10am to 5:30pm Monday to Friday, but times can vary.</p>

<p>You’ll need to arrive at court earlier on your first day. Check your summons letter for the exact time.</p>

<h2 id="what-you-can-claim" class="govuk-heading-m">What you can claim</h2>
<p>You will not be paid for doing jury service, but you can claim some money back if you lose earnings. You can also claim some expenses, for example travel.</p>

<p>Find out what you can claim:</p>

<ul class="govuk-list govuk-list--bullet">
  <li > <a href="what-you-can-claim-if-youre-an-employee">if you’re an employee</a></li>
  <li><a href="what-you-can-claim-if-youre-self-employed">if you’re self-employed</a></li>
  <li><a href="what-you-can-claim-if-youre-not-working">if you’re not working</a></li>
</ul>


{% endblock %}
