

{% extends "layout.html" %}

{% set serviceName = "Usability testing" %}

{% block pageTitle %}
  GOV.UK Accounts prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      {{ govukTable({
             caption: "Version history for current team",
             captionClasses: "govuk-heading-m",
             firstCellIsHeader: true,
             head: [
               {
                 text: "Version"
               },
               {
                 text: "Date added"
               },
               {
                 text: "Description"
               },
               {
                 text: "Link"
               }
             ],
             rows: [
             [
             {
               text: "Sprint 4"
             },
             {
               text: "14 June 2021"
             },
             {
               text: "Extra functionality and top level navigation"
             },
             {
               html: '<a href="/current/index">Go to sprint 4 (current)</a>'
             }
             ],
             [
             {
               text: "Sprint 3"
             },
             {
               text: "28 May 2021"
             },
             {
               text: "Testing if 'save a page' functionality was enough as an MVP, and if the sign in could be with the button rather than at the top of the page. (Neither worked)"
             },
             {
               html: '<a href="/sprint-3/index">Go to round 1 of research</a>'
             }
             ]
       ]
     }) }}


    </div>
  </div>

{% endblock %}
